.vdc-font{
    font-family:Monotype Corsiva, 'Allura', cursive;
    font-weight: 500;
    color: black;

}

#home-span-container{
    background-image: url("images/places-to-eat-naas-Vie-de-chateaux-newbridge.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h3{
    text-align: center;
}
h2,h3{
    font-family:Monotype Corsiva, 'Allura', cursive;
    font-weight: 500;
}
.carousel-item > img{
    aspect-ratio: 1;
    object-fit: cover;
}